.navbar-static-top {
    margin-left: -14px;
    margin-right: -24px;
}

.right-nav {
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}

.right-nav a {
    display: block;
}

table#gameTable tbody tr:hover {
    background: #6495ed;
    cursor: pointer;
}

#errorMsg {
    text-align: center;
}

.header {
    float: right;
}

.header img {
    border-radius: 5px;
    margin: 10px;
}

.edit{
    display:inline-block
}

/*.theme{
    background-color:#1D304C
}*/

.text{
    color:yellow;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

label{
    color:grey
}
