{
  "presets": ["es2015", "env", "react", "stage-0"],
  "plugins":["transform-react-jsx", "transform-object-rest-spread", "transform-react-jsx"],
  "parserOpts": {
    "plugins": ["jsx", "flow"]
  }
}
